<div class="col-md-3 hidden-sm hidden-xs">
    <div class="list-group left-side-user-menu">
        <ul>
            <li class="list-group-item bg-primary">
                <span class="glyphicon glyphicon-user"></span>
                <a href="#" class="">企业信息</a>
            </li>

            <li class="list-group-item bg-primary">
                <span class="glyphicon glyphicon-user"></span>
                <a href="" class="">职位管理</a>
            </li>

            <li class="list-group-item bg-primary">
                <span class="glyphicon glyphicon-user"></span>
                <a href="#" class="">简历收件箱</a>
            </li>

            <li class="list-group-item bg-primary">
                <span class="glyphicon glyphicon-user"></span>
                <a href="#" class="">简历收藏夹</a>
            </li>

            <li class="list-group-item bg-primary">
                <span class="glyphicon glyphicon-user"></span>
                <a href="#" class="">企业通知</a>
            </li>
        </ul>

    </div>
</div>