<div class="col-md-9 col-sm-12 col-xs-12"  ng-controller="ent_info_detail">

    <ul class="tabs-nav">
        <li class="active"><a href="#">基本信息</a></li>
    </ul>

    <div class="tabs-container">
        <div class="tab-content" style="display: block;">
            <div class="col-md-12">
                <div class="row user_info_detail_head">
                    <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
                        <img ng-src="{{data.ei_pic}}" class="img-responsive img-circle">
                        <h4>{{data.ei_name}}</h4>
                    </div>
                </div>

                <button type="button"  class="btn btn-primary pull-right" >
                    <span class="glyphicon glyphicon-heart"></span>
                </button>

                <div class="separate_block">
                    <span class="separate_block_title">企业信息</span>
                </div>


                <div class="row user_info_detail ">

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业名称:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_name}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">所在城市:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.city_name}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业地址:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_address}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业邮箱:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_email}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">所属行业:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.c_name}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业性质:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{get_property(data.ei_property)}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业规模:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{get_size(data.ei_size)}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">主页链接:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_link}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业介绍:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_intro}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">联系人:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_linkman_name}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">联系人电话:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{data.ei_linkman_phone}}</div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">联系人头像:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">
                            <img ng-src="{{data.ei_linkman_pic}}" class="img-responsive img-rounded">
                        </div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">企业执照:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">
                            <img ng-src="{{data.ei_liscense}}" class="img-responsive img-rounded">
                        </div>
                    </div>

                    <div class="row user_info_detail_line">
                        <div class="col-md-2 col-xs-3 col-sm-3 user_info_detail_title">认证状态:</div>
                        <div class="col-md-10 col-xs-9 col-sm-9">{{get_status(data.ei_status)}}</div>
                    </div>

                    <a href="#" class="btn btn-primary pull-right">
                        修改
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>