<footer id="footer-wrapper" style="background: #203143">
    <div id="footer" class="container">
        <div class="row">

            <div class="col-md-2 col-sm-4 col-xs-6">
                <section class="widget text-center">
                    <h3 class="title">联系我们</h3>
                    <div class="twitter_update_list ">
                        <p ><h1 class=""><span class="glyphicon glyphicon-earphone"></span></h1></p>
                        <p>服务热线(免长途话费)</p>
                        <address>
                            <p>400-8888-8888</p>
                        </address>
                        <p>工作日  9:00-18:00</p>
                    </div>
                </section>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <section class="widget">
                    <h3 class="title">简介</h3>
                    <div class="twitter_update_list">
                        <ul style="padding-left: 0">
                            <li>
                                <a href="#">友情链接</a>
                            </li>
                            <li>
                                <a href="#">产品服务</a>
                            </li>
                            <li>
                                <a href="#">创新优势</a>
                            </li>
                            <li>
                                <a href="#">微简历介绍</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <section class="widget">
                    <h3 class="title">帮助</h3>
                    <div class="twitter_update_list">
                        <ul style="padding-left: 0">
                            <li>
                                <a href="#">友情链接</a>
                            </li>
                            <li>
                                <a href="#">产品服务</a>
                            </li>
                            <li>
                                <a href="#">创新优势</a>
                            </li>
                            <li>
                                <a href="#">微简历介绍</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <section class="widget">
                    <h3 class="title">合作</h3>
                    <div class="twitter_update_list">
                        <ul style="padding-left: 0">
                            <li>
                                <a href="#">友情链接</a>
                            </li>
                            <li>
                                <a href="#">产品服务</a>
                            </li>
                            <li>
                                <a href="#">创新优势</a>
                            </li>
                            <li>
                                <a href="#">微简历介绍</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>

                </section>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <section class="widget">
                    <h3 class="title">导航</h3>
                    <div class="twitter_update_list">
                        <ul style="padding-left: 0">
                            <li>
                                <a href="#">友情链接</a>
                            </li>
                            <li>
                                <a href="#">产品服务</a>
                            </li>
                            <li>
                                <a href="#">创新优势</a>
                            </li>
                            <li>
                                <a href="#">微简历介绍</a>
                            </li>
                            <li>
                                <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6">
                <section class="widget text-center">
                    <h3 class="title">关注我们</h3>
                    <img src="img/scan.jpg" class="img-responsive center-block"/>
                </section>
            </div>

        </div>
    </div>
    <!-- end of #footer -->
</footer>