<div class="col-md-7">
    <ul class="tabs-nav">
        <li class="active"><a href="#">推荐招聘</a></li>
        <li class="" style=""><a href="#">最新招聘</a></li>
    </ul>

    <div class="tabs-container">
        <div class="tab-content" style="display: block;">
            <ul class="jobs" style="padding-left: 0">
                <!--entity-->
                <li ng-repeat="job in data.recommend_jobs" class="row job-entry">
                   <div ng-include src="'template/job-entity.html'"></div>
                </li>
                <!--entity end-->
            </ul>
        </div>

        <div class="tab-content" style="display: none;">
            <ul class="jobs" style="padding-left: 0">
                <!--entity-->
                <li ng-repeat="job in data.new_jobs" class="row job-entry">
                    <div ng-include src="'template/job-entity.html'"></div>
                </li>
                <!--entity end-->
            </ul>
        </div>
    </div>

    <div class="input-group-btn">
        <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 50%;margin-left: 25%;margin-bottom: 20px;">加载更多</button>
    </div>
</div>

<script>
    $(function(){

        var $tabsNav    = $('.tabs-nav'),
                $tabsNavLis = $tabsNav.children('li');

        $tabsNav.each(function(){
            var $this = $(this);
            $this.next().children('.tab-content').stop(true,true).hide()
                    .first().show();
            $this.children('li').first().addClass('active').stop(true,true).show();
        });

        $tabsNavLis.on('click', function(e) {
            console.log("aaa");
            var $this = $(this);
            $this.siblings().removeClass('active').end()
                    .addClass('active');
            var idx = $this.parent().children().index($this);
            $this.parent().next().children('.tab-content').stop(true,true).hide().eq(idx).fadeIn();
            e.preventDefault();
        });

    });
</script>