<div class="row">

    <div class="col-md-6 col-xs-12 col-sm-6 job-entry-left">
        <div class="row">
            <div class="col-md-4 col-sm-3 col-xs-3 col-xxs-4">
                <a href="{{job.ei_link}}">
                    <img ng-src={{job.ei_pic}} class=""/>
                </a>
            </div>
            <div class="col-md-8 col-sm-9 col-xs-9 ">
                <h4 class="job_name"><a href="job-detail/{{j_id}}">{{job.j_name}}</a></h4>
                <h5>
                    <a href="enterprise/{{e_id}}"><span class="company">{{job.ei_name}}</span></a>
                </h5>
                <h6>
                    <span class="job_property">{{get_property(job.ei_property)}}</span>
                    <span class="job_size">规模{{get_size(job.ei_size)}}</span>
                </h6>
                <h5>
                    <span class="salary">{{job.j_min_salary}}-{{job.j_max_salary}}</span>
                    <span class="job_location">{{job.city_name}}</span>
                </h5>
            </div>
        </div>

    </div>

    <div class="col-md-6 text-right col-xs-12 col-sm-6 job-entry-right">
        <h6><span class="job_summary">{{job.j_summary}}</span></h6>
        <h6><span class="job_experience">{{job.j_experience}}</span></h6>
        <h6>
            <span class="job_education">{{get_education(job.j_education)}}学历</span>
            <span class="job_number">招{{job.j_number}}人</span>
        </h6>
        <img ng-src={{job.ei_linkman_pic}} class="alignright img-responsive" style="width: 40px;height: 40px"/>
        <h6>
            <span class="job_linkman_name">{{job.ei_linkman_name}}</span>
            <span class="job_linkman_phone">{{job.ei_linkman_phone}}</span>
        </h6>
        <h6><span class="job_publish_time">{{job.j_publish_time|date:'yyyy-MM-dd'}}</span></h6>
    </div>

</div>