<div class="col-md-3 col-sm-12 col-xs-12">
    <section class="widget"  style="border-top: #01509F 10px solid;">
           <div class="row">
               <div class="col-md-10 col-md-offset-1">
                   <ul>

                       <li>
                           <h5>工作地点</h5>
                           <select class="form-control">
                               <option>天河区</option>
                               <option>番禺区</option>
                               <option>荔湾区</option>
                               <option>越秀区</option>
                           </select>
                       </li>

                       <li>
                           <h5>工作经验</h5>
                           <select class="form-control">
                               <option>一年以下</option>
                               <option>一年以上</option>
                               <option>三年以上</option>
                               <option>五年以上</option>
                           </select>
                       </li>

                       <li>
                           <h5>学历要求</h5>
                           <select class="form-control">
                               <option>本科及以上</option>
                               <option>研究生及以上</option>
                               <option>大专</option>
                               <option>中专</option>
                           </select>
                       </li>

                       <li>
                           <h5>融资阶段</h5>
                           <select class="form-control">
                               <option>A轮</option>
                               <option>B轮</option>
                               <option>天使轮</option>
                           </select>
                       </li>

                       <li>
                           <h5>行业领域</h5>
                           <select class="form-control">
                               <option>移动互联网</option>
                               <option>移动互联网</option>
                               <option>移动互联网</option>
                           </select>
                       </li>

                       <li>
                           <h5>最低薪资</h5>
                           <input type="text" class="form-control" placeholder="Text input">
                       </li>

                       <li>
                           <h5>最高薪资</h5>
                           <input type="text" class="form-control" placeholder="Text input">
                       </li>

                   </ul>


               </div>

           </div>

    </section>

</div>
            