<div class="col-md-7">
    <ul class="tabs-nav">
        <li class="active"><a href="#">简历收藏夹</a></li>
    </ul>

    <div class="tabs-container">
        <div class="tab-content" style="display: block;">
            <ul class="jobs" style="padding-left: 0">

                <!--resume entity start-->
                <li class="resume-summary" ng-repeat="resume in data|orderBy:'-rc_time'">
                    <div class="row">
                        <div class="col-md-11 col-xs-12 col-sm-9 ">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 col-xs-4">
                                    <a href="#"><img ng-src={{resume.r_pic}} class="img-responsive img-circle resume-img"></a>
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-8">
                                    <h4>
                                        <a href="/viewresume={{resume.r_id}}" class="resume-name">{{resume.ui_real_name}}</a>
                                        <span class="resume-sex" >{{getSex(resume.ui_sex)}}</span>&nbsp;&nbsp;
                                        <span class="resume-age">{{getAge(resume.ui_birth_date)}}岁</span>
                                    </h4>
                                    <h5>
                                        <span class="resume-c_name">{{resume.c_name}}</span>
                                        <span class="salary">{{resume.r_min_expected_salary}}-{{resume.r_max_expected_salary}}</span>
                                    </h5>
                                    <p>
                                        {{resume.r_intro}}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 text-right col-xs-12 col-sm-3 job-entry-right">
                            <button class="btn btn-default pull-right resume-btn btn-share" ng-click='publish_resume(resume.rc_id)' type="button">
                                删除
                            </button>
                        </div>
                    </div>
                </li>
                <!--resume entity end-->

                <!--entity-->
                <li ng-repeat="resume in data" class="row job-entry">

                    <div class="row">

                        <div class="col-md-2 text-center col-xs-4 col-sm-2">
                            <a href="{{resume.r_id}}">
                                <img ng-src={{resume.r_pic}} class="img-responsive" style="border: #DADADA 1px;border-radius: 0;"/>
                            </a>
                        </div>

                        <div class="col-md-4 text-center col-xs-8 col-sm-4">
                            <p><h4><a href="{{resume.r_id}}">{{resume.ui_real_name}}</a></h4></p>

                            <p>
                            <span class="salary">
                                <span>{{resume.r_min_expected_salary}}</span>-<span>{{resume.r_max_expected_salary}}</span>
                            </span>
                                <span class="company">{{resume.c_name}}</span>
                            </p>

                            <p>
                                <span >性别：{{resume.ui_sex}}</span>&nbsp;&nbsp;
                                <span >出生日期：{{resume.ui_birth_date}}</span>
                            </p>
                        </div>

                        <div class="col-md-4 col-xs-11 col-sm-4">
                            <p class="">
                                {{resume.r_intro}}
                            </p>
                            <p class="">
                                {{resume.jc_time}}
                            </p>

                        </div>
                        <div class="col-md-2 text-right  col-sm-2">
                            <button class="btn btn-default">删除</button>
                        </div>

                    </div>

                </li>
                <!--entity end-->

            </ul>

        </div>


    </div>

    <div class="input-group-btn">
        <button type="button" class="btn btn-lg btn-primary btn-block" style="width: 50%;margin-left: 25%;margin-bottom: 20px;">加载更多</button>
    </div>
</div>

<script>
    $(function(){

        var $tabsNav    = $('.tabs-nav'),
                $tabsNavLis = $tabsNav.children('li');

        $tabsNav.each(function(){
            var $this = $(this);
            $this.next().children('.tab-content').stop(true,true).hide()
                    .first().show();
            $this.children('li').first().addClass('active').stop(true,true).show();
        });

        $tabsNavLis.on('click', function(e) {
            console.log("aaa");
            var $this = $(this);
            $this.siblings().removeClass('active').end()
                    .addClass('active');
            var idx = $this.parent().children().index($this);
            $this.parent().next().children('.tab-content').stop(true,true).hide().eq(idx).fadeIn();
            e.preventDefault();
        });

    });
</script>