<div class="col-md-7" ng-controller="resume_manage">

    <ul class="tabs-nav tabs-nav-job-manage">
        <li class="active"><a href="#">已发布</a></li>
        <li class="" style=""><a href="#">未发布</a></li>
    </ul>

    <div class="tabs-container tabs-container-job-manage">
        <div class="row search-and-new">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input type="text" ng-model="search_text" class="form-control" placeholder="输入关键字快速查找">
            </div>
            <div class="pull-right" style="padding-right: 30px">
                <button type="submit" class="btn btn-primary">新增简历</button>
            </div>
        </div>

        <div class="tab-content tab-content-job-manage" style="display: block;">
            <ul  class="jobs" style="padding-left: 0">
                <!--resume entity start-->
                <li class="resume-summary" ng-repeat="resume in data|filter:{r_state:'1'}|filter:{$:search_text}|orderBy:'-r_time'">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-5 col-xs-7">
                                    <h5 class="resume-summary-title"><a href="/view/{{resume.r_id}}">{{resume.r_name}}</a></h5>
                                </div>
                                <div class="col-md-12  pull-right">
                                    <h6 class="resume-summary-time">{{resume.r_time|date:'yyyy-MM-dd'}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="row">
                                <div class="col-md-10 col-sm-9  col-xs-10">
                                    <p>{{resume.r_note}}</p>
                                </div>
                                <div class="col-md-2 col-sm-3 col-xs-2" style="padding-left: 0">
                                    <button class="btn btn-default pull-right resume-btn btn-remove" ng-click='remove_resume(resume.r_id)' type="button">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--resume entity end-->
            </ul>

        </div>

        <div class="tab-content tab-content-job-manage" style="">
            <ul class="jobs" style="padding-left: 0">

                <!--resume entity start-->
                <li class="resume-summary" ng-repeat="resume in data|filter:{r_state:'2'}|filter:{$:search_text}|orderBy:'-r_time'">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-5 col-xs-7">
                                    <h5 class="resume-summary-title"><a href="/view/{{resume.r_id}}">{{resume.r_name}}</a></h5>
                                </div>
                                <div class="col-md-12  pull-right">
                                    <h6 class="resume-summary-time">{{resume.r_time|date:'yyyy-MM-dd'}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="row">
                                <div class="col-md-7 col-sm-6  col-xs-12">
                                    <p>{{resume.r_note}}</p>
                                </div>
                                <div class="col-md-5 col-sm-6 col-xs-12" style="padding-left: 0;padding-right: 0;min-width: 140px;margin-top: 10px">
                                    <button class="btn btn-default pull-right resume-btn btn-remove" ng-click='remove_resume(resume.r_id)' type="button">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <button class="btn btn-default pull-right resume-btn btn-edit" ng-click='edit_resume(resume.r_id)' type="button">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </button>
                                    <button class="btn btn-default pull-right resume-btn btn-share" ng-click='publish_resume(resume.r_id)' type="button">
                                        <span class="glyphicon glyphicon-share"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--resume entity end-->
            </ul>
        </div>
    </div>

</div>

<script>
    $(function(){

        var $tabsNav    = $('.tabs-nav-job-manage'),
            $tabsNavLis = $tabsNav.children('li');

        $tabsNav.each(function(){
            var $this = $(this);
            $('.tabs-container-job-manage').children('.tab-content-job-manage').stop(true,true).hide().first().show();
            $this.children('li').first().addClass('active').stop(true,true).show();
        });

        $tabsNavLis.on('click', function(e) {
            //console.log("_job_manage");
            var $this = $(this);
            $this.siblings().removeClass('active').end().addClass('active');
            var idx = $this.parent().children().index($this);
            $('.tabs-container-job-manage').children('.tab-content-job-manage').stop(true,true).hide().eq(idx).fadeIn();
            e.preventDefault();
        });

    });
</script>