<div class="fiveItems hidden-xs">
    <ul>
        <li class="col-md-2 col-sm-4 type-item">
            <a href="#"><h2> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>互联网</h2></a>
        </li>

        <li class="col-md-2 col-sm-4 type-item">
            <a href="#"> <h2> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>金融</h2></a>
        </li>

        <li class="col-md-2 col-sm-4 type-item">
            <a href="#"> <h2> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>教育</h2></a>
        </li>

        <li class="col-md-2 col-sm-4 type-item">
            <a href="#"><h2> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>房地产</h2></a>
        </li>

        <li class="col-md-2 col-sm-4 type-item">
            <a href="#"><h2><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>医疗</h2></a>
        </li>

        <li class="col-md-2 col-sm-4 type-item">
            <a href="#"> <h2><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>化工</h2></a>
        </li>
    </ul>
</div>

<style>
    .fiveItems{
        display:block;
    }

    .type-item {
         text-decoration: none;
         display: block;
         background-color: #fff;
     }

    .type-item h2 {
        border-right:#B8B8B8 2px dashed;
    }

    .type-item:last-child  h2 {
        border: none;
    }

    .type-item span{
          color: #F2C530;
        padding: 2px;
      }

    .type-item h2{
        font-size: 23px;
        font-weight: 600;
    }
</style>