<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-1 col-xs-12">
    <div class="row">
        <form class="">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{show}} <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-click="exchange()"><a>{{list}}</a></li>
                        </ul>
                    </div><!-- /btn-group -->

                    <input type="text" ng-model="ctrlScope.search_text" class="form-control input-lg"  placeholder="Search...">

                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary " ng-click="search_submit()" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-md-2 col-md-offset-1 col-sm-1 col-sm-offset-1 hidden-xs">
    <div class="row">
        <div class="input-group-btn">
            <button type="button" class="btn btn-lg btn-primary btn-block">进入简历</button>
        </div>
    </div>
</div>